.main-content {
    margin: 40px;
}

h1 {
    margin: 20px;
}

ul {
    margin: 20px;
}

.main-div {
    margin: 20px;
}

footer {
    margin: 80px;
}

h3 {
    margin: 40px;
}

img {
    margin: 40px;
    width: 200px;
    height: 200px;
}